{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<a href="{{path('add_product')}}">Ajouter un produit</a>


<div class="ProductBoxs">
    {% for product in products %}
<div class="ProductBox">
    {{dump(product)}}
  
    {% if product.pictures[0] is defined %}
    <figure>
        
    <img class="pictureNavigation" src="{{ asset('/picture/' ~ product.pictures[0].name) }}" alt="{{ product.name }}">
  </figure>
{% endif %}
      <a href="{{ path ('show_product' , {'id': product.id})}}">{{product.name }}</a> <br> 
      {{product.price }}<br>
     <a href ="{{ path ('delete_product' , {'id': product.id})}}"> Supprimer</a>
      <a href ="{{ path ('edit_product' , {'id' : product.id})}}">Editer</a><br>
      <a href ="{{ path ('add_basket' , {'id' : product.id})}}">Ajouter au panier</a><br>
    </div>

    {% if loop.index is divisible by(4) %}
      </div><br>
      <div class="ProductBoxs">
    {% endif %}
  {% endfor %} 
</div>

{% endblock %}
