{% extends 'base.html.twig' %}
{% block javascripts %}
<script  src="{{asset('js/script.js')}}"></script>
{% endblock %}
{% block title %}Appolo cloud{% endblock %}

{% block body %}
<div class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset('/HomePicture/_2aa7e9dd-1542-45e8-a70b-0389214c66d2.jpg') }}" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('/HomePicture/_11afafff-b918-45ce-b81d-6fa358470805.jpg') }}" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('/HomePicture/patisserie2.jpg') }}" alt="Slide 3">
    </div>
  </div>
  <button class="carousel-control prev" aria-label="Previous">&#10094;</button>
  <button class="carousel-control next" aria-label="Next">&#10095;</button>
</div>

  

<a href="{{path('add_product')}}">Ajouter un produit</a>


<div class="ProductBoxs">
    {% for product in products %}
<div class="ProductBox">
   
  
    {% if product.pictures[0] is defined %}
    <figure>
        
    <img class="pictureNavigation" src="{{ asset('/picture/' ~ product.pictures[0].name) }}" alt="{{ product.name }}">
  </figure>
{% endif %}
      <a href="{{ path ('show_product' , {'id': product.id})}}">{{product.name }}</a> <br> 
      {{product.price }}<br>
     <a href ="{{ path ('delete_product' , {'id': product.id})}}"> Supprimer</a>
      <a href ="{{ path ('edit_product' , {'id' : product.id})}}">Editer</a><br>
      <a href ="{{ path ('add_basket' , {'id' : product.id})}}">Ajouter au panier</a><br>
    </div>

    {% if loop.index is divisible by(4) %}
      </div><br>
      <div class="ProductBoxs">
    {% endif %}
  {% endfor %} 
</div>


<div id="blog">
<figure id="paralaxFigure">
<div id="pictureParalax" alt="magasin avec ranger e liquide" ></div>
</figure>
<article>
  <h1>Le meilleur du E-liquide</h1>
<div class="boxHomeBlog">
<div id="textWhyVapoting">
  <h2> Pourquoi la cigarrette electronique? </h2><br>
  <p>La cigarette est associée à un nombre alarmant de décès chaque année dans le monde entier. Selon l'Organisation mondiale de la santé (OMS), le tabagisme est la principale cause évitable de décès, responsable de plus de 8 millions de décès par an à l'échelle mondiale. Cela inclut à la fois les décès des fumeurs eux-mêmes et les décès dus à l'exposition à la fumée secondaire.</p>
  <p>En passant a la cigarrette electronique, vous benefecirer des avantages suivant:<br> <br>
  <strong> Réduction des risques pour la santé :</strong><br> La cigarette électronique ne produit pas de fumée nocive comme la cigarette traditionnelle. En vapotant, vous evitez l'inhalation de milliers de substances chimiques nocives présentes dans la fumée de tabac, ce qui réduit considérablement les risques pour la santé associés au tabagisme.
    <br><br>
  <strong> Contrôle de la nicotine :</strong><br> Les cigarettes électroniques offrent une flexibilité quant au choix du taux de nicotine. Vous pouvez choisir parmi une gamme de concentrations de nicotine, voire opter pour des e-liquides sans nicotine du tout, ce qui permet de mieux contrôler sa consommation de nicotine et de faciliter une éventuelle réduction progressive.
  <br><br>
  <strong>Moins d'odeurs et de résidus :</strong><br> Contrairement à la cigarette traditionnelle qui laisse une odeur persistante sur les vêtements, les meubles et les cheveux, la vapeur produite par la cigarette électronique est souvent inodore ou présente des arômes agréables. De plus, il n'y a pas de cendres, de mégots ou de résidus à éliminer.
  <br><br>
  <strong>Économique à long terme :</strong><br> Bien que l'investissement initial puisse être plus élevé pour l'achat d'un dispositif de vapotage et d'e-liquides, à long terme, la cigarette électronique peut être beaucoup moins coûteuse que la cigarette traditionnelle. Les recharges d'e-liquide et les bobines de rechange sont souvent moins chères que les paquets de cigarettes.</p>
</div>
<figure class="figureHomeBlog">
  <img id="pictureWhyVapoting" src="{{ asset('/HomePicture/a3221638-08b1-4eb2-a6ce-a3097945faad.jpg') }}" alt="stop ecrit avec des megots">
</figure>
</div>
<h1> Qui somme nous?</h1>
<div class="boxHomeBlog">
  <figure class="figureHomeBlog">
    <img id="pictureWhoWeAre" src="{{ asset('/HomePicture/pexels-photo-2901208.jpeg') }}">
  </figure>
  <div id="textWhoAreWe">
    <h2 id="titleWhoAreWe">Il etait une fois en Alsace...</h2>
    <p>... une petite equipe situer en pleine route des vins.</p>
    <p>
      Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in Brittanniam missus ut militares quosdam perduceret ausos conspirasse Magnentio, cum reniti non possent, iussa licentius supergressus fluminis modo fortunis conplurium sese repentinus infudit et ferebatur per strages multiplices ac ruinas, vinculis membra ingenuorum adfligens et quosdam obterens manicis, crimina scilicet multa consarcinando a veritate longe discreta. unde admissum est facinus impium, quod Constanti tempus nota inusserat sempiterna
    </p>
</div>

</article>
</div>
{% endblock %}
