{% extends 'base.html.twig' %}

{% block javascripts %}
<script  src="{{asset('js/script.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}


{% block title %}Categorie{% endblock %}

{% block body %}

<h2> Categories</h2>


<form id="filter">
  {% for  category in categorys %}
  
  <input type="radio"  id="category{{category.id}}" name="category" value="{{category.id}}" data-category-id="{{category.id}} " >  </a>
  <label  id= "label{{category.id}}"  class="categorySelector"    for="category{{category.id}}">{{category.categoryName}} </label>
  {% endfor %}
  </form>



  <div id="ResultBox">{# affiche les resultat des requetes ajax pour les filtres#}



  </div>


  





{% endblock %}