{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

<h2 id="productName"> {{ product.name}}</h2>
<div id="productShow">


    <div  class="carouselShow " >
        <div class="carouselShow-inner">
            <div class="carouselShow-item active">{#}      premiere image visible   grace a la classe 'active' (voir javascript ligne 163 )           #}
                <figure>
                <img id="picture" class="pictureShowProduct" src="{{ asset('/picture/' ~ product.pictures[0].name) }}" alt=" Slide 1 ">
                
                {# asset fait reference au fichier statique tel que les fichier css, javascript #}
                {#    .product.picture[0].name affiche le nom de la premiere image a la suite du chemin ou sont les images     #}
            </figure>
            </div>
   
            
            {% if product.pictures|length > 1 %}
            {#  si le produit a plus d'une image , alors  j'afiche les images une a une  grace a la classe 'active' (voir javascript ligne 163 )    #}
            {% set slide = 1 %}
           {# je definis la variable slide a 1 car la premiere slide est slide 1#}
           
    {% for picture in product.pictures|slice(1) %}
   {# je fait une boucle pour le nom des images sans inclure la premiere image  #}

   
    {% set slide = slide + 1   %}
    {# pour definir le nombre de la slide de la slide en courant, je rajoute une unité par rapport a l'image precedente  #}
    <div class="carouselShow-item">
        <figure>
        <img id="picture" class="pictureShowProduct" src="{{ asset('/picture/' ~ picture.name) }}" alt=" Slide {{ slide }}">
    </figure>
    </div>

    


    {% endfor %}
    {% endif %}
    
    <button id="prev" class="carousel-control previousShow" aria-label="Previous">&#10094;</button>
  <button id="next" class="carousel-control nextShow" aria-label="Next">&#10095;</button>

        </div>
    </div>

    <div id="modal" class="modalZoom">
        <span class="closeModal">&times;</span>
        <img class="modalContent" id="modalPicture">
      </div>




<div id="presentation">








<p>Reference: {{product.reference}}</p>
<p>Arome: {{product.aroma.categoryName}} </p><br>
<article>{{product.detail}}</article>


</div>

<div id="buy">

    {% if app.user %}
    {% set favoriteIds = [] %}
    {% for favorite in app.user.Favorite %}
        {% set favoriteIds = favoriteIds|merge([favorite.id]) %}
    {% endfor %}
    
    
        {% if product.id in favoriteIds %}
            <a id="addFavorite" class="addFavorite" href="{{ path ('remove_favorite' , {'id': product.id}) }}" data-product-id="{{ product.id }}"><i id="favoriteIcon{{ product.id }}" class="bi-heart-fill favoriteIconShow"></i> </a>
        {% else %}
            <a id="addFavorite" class="addFavorite" href="{{ path ('add_favorite' , {'id': product.id}) }}" data-product-id="{{ product.id }}"><i id="favoriteIcon{{ product.id }}" class="bi-heart favoriteIconShow"></i> </a>
        {% endif %}
        {% endif %}







<p id="showPrice">{{ '%0.2f'|format(product.price) }} &euro;</p>

<form id="formShow" action="{{ path('addNumber_basket', {'id' : product.id }) }}" method="post">
    
    <label for="nicotine">Taux de Nicotines :</label>
    <select aria-label="taux de nicotine" name="nicotine" class="nicotine">
        {% for nicotine in product.nicotines %}
            <option value="{{ nicotine.id }}">{{ nicotine.proportioning }}</option>
        {% endfor %}
    </select>


    <p>Quantité:</p>
    <div class="quantityNav">
        <button  class="qttButton"type="button" id="decreaseBtn">-</button>
        <input class="qtt" type="number" name="qtt" id="qtt" value="1" min="1" placeholder="Quantité">
        <button class="qttButton" type="button" id="increaseBtn">+</button>
    </div>

    <button class="blueButton" type="submit">Ajouter au panier</button>
</form>


</div>

<div id="commentary" >
    {% for  review in reviews  %}
    {{dump(review)}}
    <p> {{review.commentary}}</p>
  


    {% endfor %}

</div>

</div>
{% endblock %}