{% extends 'base.html.twig' %}

{% block title %}Recapitulatif{% endblock %}

{% block body %}
<h1>Recapitulatif</h1>

<div id="adress">
<h2> Adresse de livraison</h2>


{{ address.firstName }}    {{ address.name}}<br>
{{address.adress}} <br>
{{address.postalCode}} <br>
{{address.City}} 
<a href="{{ path ('edit_adress' )}}">changer l'adresse</a>
</div>
<h2> Panier</h2>
<tbody>
<div id="basket">
    <thead>
        <div class="row">
            <div class="col-sm">   
            </div>
            <div class="col-sm">
                nom du produit
            </div>
            <div class="col-sm">
                Prix unitaire
            </div>
          
            <div class="col-sm">
                Quantité
            </div>
        
            <div class="col-sm">  
                Total 
            </div>
            
        </div>   
    <br>
    </thead>
    {% for basket in baskets %}
    <div class="products">
    <div class="row">
        <div class="col-sm">
        {% if basket.product.img[0] is defined %}
        <figure>
        <img id="pictureBasket" src="{{ asset('/img/' ~ basket.product.img[0].name) }}" alt="{{ basket.product.name }}">
        </figure>
        {% endif %}
        </div>
        <div class="col-sm">
            <a href="{{ path ('show_product' , {'id': basket.product.id})}}">
                {{basket.product.name}}
            </a>nicotine:{{basket.nicotine.proportioning}}
          
        </div>
        <div class="col-sm">
            {{ '%0.2f'|format(basket.product.price) }} &euro;
        </div>
        <div class="col-sm">
            {{basket.quantity}}
         
        </div>
        <div class="col-sm"> 
            {{ '%0.2f'|format(basket.product.price * basket.quantity) }} &euro; 
        </div>
     
    </div>  
    
    <br>

{% endfor %}
</div>

</tbody>
 Total Commande :{{ '%0.2f'|format(total) }} &euro;


 <div id="Payement">
    <form  id="termsRecap"action="{{ path ('app_pay')}}"  method="post" >
        <div id="totalPayement">

           
        </div>
        <label for="heighteen">
            <input type="checkbox" id="heighteen" name="heighteen" required>
            J'affirme avoir plus de 18 ans.<br>.
         </label>
        <label for="termsAgreed">
           <input type="checkbox" id="termsAgreed" name="termsAgreed" required>
            En cochant cette case, j'affirme avoir plus de 18 ans, j'accepte les  <a href="{{ path('app_CGU') }}">CGU</a><br>  et les  <a href="{{ path('app_CGV') }}">CGV</a><br>.
        </label>

        <button type="submit">Payer</button>
    </form>



 </div>
{% endblock %}