{% extends 'base.html.twig' %}

{% block title %}Recapitulatif{% endblock %}

{% block body %}
<div id="templateRecap">
<h2 class="title">Recapitulatif</h2>

<div id="adress">
<h3> Adresse de livraison</h3>

<p >
{{ address.firstName }}    {{ address.name}}<br>
{{address.adress}} <br>
{{address.postalCode}} <br>
{{address.City}} 
</p>
<a href="{{ path ('edit_adress' )}}">changer l'adresse</a>
</div>
<h2> Panier</h2>
<tbody>
<div id="basketRecap">
    <thead>
        <div class="row rowBasket">
            <div class="col-sm">   
            </div>
            <div class="col-sm">
                nom du produit
            </div>
            <div class="col-sm">
                Prix unitaire
            </div>
          
            <div class="col-sm">
                Quantité
            </div>
        
            <div class="col-sm">  
                Total 
            </div>
            
        </div>   
    <br>
    </thead>

    {% for basket in baskets %}
    <div id="productBasketRecap">
    <div class="row rowBasket">
        <div class="col-sm">
        {% if basket.product.pictures[0] is defined %}
        <figure>
        <img class="pictureBasket" src="{{ asset('/picture/' ~ basket.product.pictures[0].name) }}" alt="{{ basket.product.name }}">
        </figure>
        {% endif %}
        </div>
        <div class="col-sm">
            <a class="productNameNavigation"  href="{{ path ('show_product' , {'id': basket.product.id})}}">
                {{basket.product.name}}
            </a>nicotine:{{basket.nicotine.proportioning}}
          
        </div>
        <div class="col-sm">
            {{ '%0.2f'|format(basket.product.price) }} &euro;
        </div>
        <div class="col-sm">
            {{basket.quantity}}
         
        </div>
        <div class="col-sm"> 
            {{ '%0.2f'|format(basket.product.price * basket.quantity) }} &euro; 
        </div>
     
    </div>
    
    <br>
</div>
{% endfor %}


</tbody>
 Total Commande :{{ '%0.2f'|format(total) }} &euro;
</div>

    <div id="Payement">
        <form  id="termsRecap"action="{{ path ('app_pay')}}"  method="post" >
            
        <label for="heighteen">
            <input type="checkbox" id="heighteen" name="heighteen" required>
            En cochant cette case, j'affirme avoir plus de 18 ans.<br>.  
        </label>
       
         </label>
        <label for="termsAgreed">
           <input type="checkbox" id="termsAgreed" name="termsAgreed" required>
            En cochant cette case, j'accepte les  <a href="{{ path('app_CGU') }}">CGU</a>  et les  <a href="{{ path('app_CGV') }}">CGV</a>.
        </label>
        <input type="hidden" name="_csrf_token"   value="{{ csrf_token('pay') }}"  >
        <button class="confirm" type="submit">Payer</button>
    </form>


        </div>
    </div>
</div>
{% endblock %}