{% extends 'base.html.twig' %}

{% block javascripts %}
<script  src="{{asset('js/script.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}


{% block title %}Resultat de recherche{% endblock %}

{% block body %}

<h1> Resultat de recherche pour  {{textToSearch}}</h1>
{% if products %}
    
<div id="result">
<div class="ProductBoxs">
    {% for product in products %}
  <div class="ProductBox">
    <a class="navigationToShowProduct" href="{{ path ('show_product' , {'id': product.id})}}">
  <div class="productPrice">{{ '%0.2f'|format(product.price) }} &euro;</div>
    {% if product.pictures[0] is defined %}
    <figure class="figureNavigation">
        
    <img class="pictureNavigation" src="{{ asset('/picture/' ~ product.pictures[0].name) }}" alt="{{ product.name }}">
  </figure>
{% endif %}





{% if app.user %}{#     si un utilisateur est connecter                  #}
  

{% set favoriteIds = [] %} {# on instancie une variable avec un tableau vide  #}
{% for favorite in app.user.Favorite %}{# on fait une boucle pour les favoris de l'utilisateur en ligne   #}
    {% set favoriteIds = favoriteIds|merge([favorite.id]) %}{# on fusione les deux tableau en utilisant merge, remplissant ainsi favoriteIds      #}
{% endfor %}


    {% if product.id in favoriteIds %}{# si le produit est deja dans la liste des favoris, alors on affiche l'icone avec le coeur plein #}
        <a class="addFavorite" href="{{ path ('add_favorite' , {'id': product.id}) }}" data-product-id="{{ product.id }}"><i id="favoriteIcon{{ product.id }}" class="bi-heart-fill fs-2 favoriteIconNavigation"></i> </a>
   {# data-favorite-id est utiliser pour recuperer l'id du produit      #}
        {% else %}{#  si le produit n'est pas dans les favoris            #}
        <a class="addFavorite" href="{{ path ('add_favorite' , {'id': product.id}) }}" data-product-id="{{ product.id }}"><i id="favoriteIcon{{ product.id }}" class="bi-heart fs-2 favoriteIconNavigation"></i> </a>
    {% endif %}


{% endif %}








      
    </a>
    <h3>   {{product.name }}</h3> 
     <br>
    
  
     
    
      <form class="formNav" action="{{ path('addNumber_basket', {'id' : product.id }) }}" method="post">
    
    
        <select name="nicotine" id="nicotine">
            
            {% for nicotine in product.nicotines %}
                <option value="{{ nicotine.id }}">{{ nicotine.proportioning }}</option>
            {% endfor %}
        </select>
    
    
        <p>Quantité:</p>
        <div id="quantity">
          
          <button  class="qttButton"type="button" id="decreaseBtn"  data-action="minus"   >-</button>
          <input class="qtt" type="number" name="qtt" id="qtt" value="1" min="1" placeholder="Quantité">
          <button class="qttButton" type="button" id="increaseBtn"  data-action="plus" >+</button>
    </div>
        <button id=blueButton type="submit">Ajouter au panier</button>
    </form>
    
    
    
    
    
    </div>

 
  {% endfor %} 
</div>
</div>


{%   else   %}


pas de produit correspondant.



{% endif %}

{% endblock %}
