{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div id="basket">
<h1 class="title">Panier</h1>
{% if empty == true  %}
<h2>Panier vide!</h2>

{% else   %}




<thead>
    <div id="tableHeadBasket" class="row">
        <div class="col-sm">   
        </div>
        <div class="col-sm">
            nom du produit
        </div>
        <div class="col-sm">
            Prix unitaire
        </div>
      
        <div id="quantityBasketTitle" class="col-sm">
            Quantité
        </div>
        <div class="col-sm">   
        </div>
        <div class="col-sm">  
            Total 
        </div>
        
    </div>   
<br>
</thead>
<tbody>
{% for basket in baskets %}
<div class="row rowProducts">
    <div class="col-sm basketPicture">
      
    {% if basket.product.pictures[0] is defined %}
    <figure>
    <img id="pictureBasket" src="{{ asset('/picture/' ~ basket.product.pictures[0].name) }}" alt="{{ basket.product.name }}">
    </figure>
    {% endif %}
    </div>
    <div class="col-sm basketName">
        <a href="{{ path ('show_product' , {'id': basket.product.id})}}">
            {{basket.product.name}}  
        </a> 
        <p>nicotine:{{basket.nicotine.proportioning}}</p>
     
    </div>
    <div class="col-sm basketProductPrice">
        {{ '%0.2f'|format(basket.product.price) }} &euro;
      
    </div>
    <div class="col-sm quantityBasketColumn">
        <a class="buttonQuantityBasket" href="{{path("remove_basket", {idProduct: basket.product.id  ,idNicotine: basket.nicotine.id })}}">
            <i>-</i>
        </a>
        {{basket.quantity}}
     
        <a class="buttonQuantityBasket" href="{{path("add_basket", {idProduct: basket.product.id, idNicotine: basket.nicotine.id})}}">
            <i >+</i>
          </a>
    </div>
    <div class="col-sm basketButtonDeleteProduct">
        <a class="deleteBasket" href="{{path("delete_basket", {idProduct: basket.product.id , idNicotine: basket.nicotine.id})}}"> Supprimer </a>
    </div>
    <div class="col-sm totalAmounProduct"> 
       
        {{ '%0.2f'|format(basket.product.price * basket.quantity) }} &euro;
    </div>
 
</div>  

<br>
{% endfor %}
</tbody>

<tfoot>
    <div id="rowToValidate" class="row">
    
        <div  id="amountBasket"class="col-sm" colspan="2"> 
        Total Commande:{{ '%0.2f'|format(total) }} &euro;
        </div>
        <div id="deleteAllBasket" class="col-sm">
            <a id="deleteAllProduct" class="deleteBasket" href="{{path("deleteAll_basket")}}"> Vider le panier</a>
            </div>
        <div id="validateBasketSection" class="col-sm"> 
           <a id="validateBasket" href="{{path("app_purchase")}}"> Valider la commande</a>
        </div>
        
    </div>

</tfoot>
{% endif %}
</div>
{% endblock %}
