{% extends 'base.html.twig' %}
{% block javascripts %}
<script  src="{{asset('js/gsf.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{% endblock %}
{% block title %}Editer les informations{% endblock %}

{% block body %}
<menu id="editUser">
<a class="userMenuReturn"href="{{path('app_user')}}"> <i class="bi bi-arrow-left">Retour</i></a>
<h2 id="titleUserMenu">Editer les informations</h2>



{{form_start(registrationForm,{'attr':{'id':'editUserInformation'} }  )}}
{{ form_row (registrationForm.email    )}}
{{ form_row (registrationForm.plainPassword   )}}
{{form_end(registrationForm)}}

<a href="{{ path('delete_user', {'id': app.user.id} ) }}" id="deleteProfile" data-delete-url="{{ path('delete_user', {'id': app.user.id} ) }}">Se désinscrire</a>
</menu>
{% endblock %}