{% extends 'base.html.twig' %}

{% block title %}Commande no  {{invoice.noOrder}} {% endblock %}



{% block body %}

<menu id="showOrder">

<a class="userMenuReturn" href="{{path('app_orderHistory')}}"><i class="bi bi-arrow-left">Retour</i> </a>

<h1 id="titleUserMenu"> Commande no {{invoice.noOrder}}</h1>
<section id="showOrderTop">



    <p> Commande du {{invoice.purchaseDateFormat}}</p><br>
    



    <section id="downloadInvoiceSection">
        <a  id="downloadInvoice" href="{{ path ('app_downloadInvoice' , {'noOrder':invoice.noOrder })}}"> <i class="bi bi-download"></i>telecharger facture</a>
        </section>

<div id="adress">
    <div id="adressInner">
    <h3>Adresse</h3>
   
{{invoice.firstName}}<br>
{{invoice.name}}<br>
{{invoice.adress}}<br>
{{invoice.postalCode}}<br>
{{invoice.City}}<br>
</div> 
</div>




</section>




<div id="basketInvoice">
<thead>
    <div class="row">
        <div class="col-sm">   
        </div>
        <div class="col-sm">
            nom du produit
        </div>
        <div class="col-sm unitPrice ">
            Prix unitaire
        </div>
      
        <div class="col-sm unitQuantity">
            Quantité
        </div>
       
        <div class="col-sm">  
            Total 
        </div>
        <div class="col-sm">  
        
    </div>
    </div>   
    
    
  

</thead>
<br>


<tbody>

    {% set productReviewed = [] %}

    {% for reviews in app.user.reviews %}
    
    {% set  productReviewed = productReviewed|merge([reviews.Product.id]) %}
    {% endfor %}



   
{% for basket in invoice.baskets %}
   
    <div class="row">
        <div class="col-sm">

    {% if basket.products.pictures[0] is defined %}
        <figure >
            <img class="pictureBasket" class="pictureShowProduct" src="{{ asset('/picture/' ~ basket.products.pictures[0].name) }}" alt="{{ basket.products.name }}">
            </figure> 
    {% endif %}
    </div>
    <div class="col-sm">
        <a href="{{ path ('show_product' , {'id': basket.products.id})}}">  {{basket.products.name}}</a> <br>
        Nicotine:{{basket.nicotine}}
    </div>
    <div class="col-sm unitPrice">
        {{basket.products.price}}  &euro;
    </div>
    <div class="col-sm unitQuantity">
        {{basket.quantity}}
        </div>
    <div class="col-sm">
        {{basket.quantity * basket.products.price}}  &euro;
    </div>
    <div class="col-sm"> 

    {% if basket.products.id  in  productReviewed %}
   
    {% else %}
<a href="{{ path ('publish_review', {'idProduct': basket.products.id , 'noOrder': invoice.noOrder  } )}}"> Notez</a> 
    {% endif %}
    </div>
    
</div>   

    
   
{% endfor %}

    </tbody>
</div>
<tfoot>
    <div class="row">
        <div class="col-sm" >

        </div>
        <div class="col-sm" >

        </div>
        <div class="col-sm" colspan="2"> 
        Total Commande:{{invoice.total}}  &euro;
        </div>
    </div>    
</tfoot> 
</div>
</div> 
</menu>
{% endblock %}